@model SISSDV1.Models.Computador
@{
    Layout = null;
    ViewBag.Title = "Resetar Computador";
}
<div class="modal-dialog modal-content card" style="width: auto; height:auto; max-height: 100%;">
    <div class="card-header" data-background-color="green">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
        </button>
        Resetar Computador
    </div>
    <div class="modal-body card-body">
        <form id="form-resethost" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(model => model.Hostname, new { name = "hostreset", id = "hostreset" })
            <div class="row text-center">
                <h5>Confirmar Operação?</h5>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center" style="margin-top: 2%;">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Confirmar" class="btn btn-primary btn-sm" id="confirmar"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer card-footer">
    </div>
</div><!-- /.modal-content -->
<!-- Validação -->
@Scripts.Render("~/bundles/jqueryval")

<script>
var formresethost = $("#form-resethost");
formresethost.submit(function ResetHost() {
    if (formresethost.valid()) {
        var hostname = $('#hostreset').val();
        $.ajax({
            url: 'ResetHost',
            type: "POST",
            dataType: "JSON",
            data: { hostname },
            success: function () {
                $("#modalResetComp").empty();
                $("#modalResetComp").modal("hide");
                ModalSucesso();
            },
            error: function () {
                ModalErro();
            }
        });
    }
    return false;
});
</script>
