@model SISSDV1.Models.EscalaSabado
@{
    Layout = null;
}
<div class="modal-dialog modal-content card" style="width: 400px; height:200px;">
    <div class="card-header" data-background-color="green">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
        </button>
        Excluir Escala
    </div>
    <div class="modal-body card-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.id, new { name = "idnew", id = "idnew" })
        <h5>Tem Certeza que quer excluir a Escala?</h5>

        <div class="row">
            <div class="">
                <div class="pull-right" style="margin-top: 2%;">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cencelar</button>
                    <input type="button" value="Confirmar" class="btn btn-primary btn-sm" id="Confirmar" onclick="ExcluirEvento();" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer card-footer">
    </div>
</div><!-- /.modal-content -->
<!-- Validação -->
@Scripts.Render("~/bundles/jqueryval")

<script>
    function ExcluirEvento(){
        var id = $("#idnew").val();
    $.ajax({
        url: 'ExcluirEvento',
        data: { id },
        type: 'POST',
        dataType: 'json',
        success: function (response) {
            if (response.status == 'success')
            $('#calendar').fullCalendar('removeEvent', id);
            $("#ModalExcluir").modal("hide");
            $("#modalSucesso").modal("show");
        },
        error: function (e) {
            alert('Error processing your request: ' + e.responseText);
        }
    });
    }
</script>