@{
    Layout = null;
}
<div class="modal-dialog modal-content card" style="width: auto; height:auto; max-height: 100%;">
    <div class="card-header" data-background-color="green">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
        </button>
        Sucesso
    </div>
    <div class="modal-body card-body">
        <h5>Operação Realizada Com Sucesso</h5>
        <div class="row">
            <div class="">
                <div class="text-center" style="margin-top: 2%;">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div><!-- /.modal-dialog -->
