@model SISSDV1.Models.GrupoAD
@{
    Layout = null;
}
<div class="modal-dialog card" role="document" style="margin-top: 4%;">
    <div class="contentmodal">
        <div class="card-header" data-background-color="green">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
            </button>
            Detalhes
        </div>
        <div class="modal-body card-body">
            <div class="form-group col-md-12">
            </div>
            <div class="form-group col-md-12">
                <button onclick="modalreset();" class="btn btn-info btn-sm">Resetar Senha</button>
            </div>
        </div>
    </div><!-- modal-content -->
</div><!-- modal-dialog -->