@model SISSDV1.Models.GrupoAD
@{
    Layout = null;
    ViewBag.Title = "Novo Usuário";
}
<div class="modal-dialog card" role="document" style="margin-top: 4%;">
    <div class="contentmodal">
        <div class="card-header" data-background-color="green">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
            </button>
            Novo Grupo
        </div>
        <div class="modal-body card-body">
            <div class="form-group col-md-12">

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right" style="margin-top: 2%;">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                        <input type="submit" value="Salvar" class="btn btn-primary btn-sm" id="salvar" />
                    </div>
                </div>
            </div>
        </div>
    </div><!-- modal-content -->
</div><!-- modal-dialog -->
