@model SISSDV1.Models.GrupoAD
@{
    Layout = null;
    ViewBag.Title = "Novo Grupo";
}
<div class="modal-dialog card" role="document" style="margin-top: 4%;">
    <div class="contentmodal">
        <div class="card-header" data-background-color="green">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
            </button>
            Novo Grupo
        </div>
        <div class="modal-body card-body">
            <form id="form-user" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right" style="margin-top: 2%;">
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>
                            <input type="submit" class="btn btn-primary btn-sm" id="salvar" value="Salvar" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<!-- Filtros -->
<script src="~/Scripts/jquery2.0.2.js" ></script>
<script>
    $(document).ready(function () {
        FiltrarCidade();
    });    
</script>

<!-- Validação -->
@Scripts.Render("~/bundles/jqueryval")