@model IEnumerable<SISSDV1.Models.EscalaSabado>


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start.AddDays(1).Day)/@Html.DisplayFor(modelItem => item.start.Month)
        </td>
    </tr>
}

