<div id="morris-area-example" style="height: 320px; text-align: center; font-size: 10px;">
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="https://sebsa.topdesk.net/" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/topdesk.png" class="img-circle"
                      height="50" width="50" />
                <h5 class="stat-info">Topdesk</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="https://terminal.sebsa.com.br/RDWeb/Pages/en-US/login.aspx?ReturnUrl=/RDWeb/Pages/en-US/Default.aspx" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/terminal1.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Terminal</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="http://10.0.33.49:7466/" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/pingplotter.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">PingPlotter</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="http://portalrh.sebsa.com.br/Corpore.Net/Login.aspx" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/totvs.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Portal RH</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="http://intranet.sebsa.com.br/default.aspx" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/intranet.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Intranet</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="http://manager.sebsa.com.br/" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/manager.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Manager</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="http://raodcserv65/zabbix/" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/zabbix.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Zabbix</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="https://login.microsoftonline.com/?mkt=pt-BR" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/catraca.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Catracas</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
        <a href="https://login.microsoftonline.com/?mkt=pt-BR" target="_blank">
            <div class="stat">
                <img src="~/img/LinksUteis/Office365.png" class="img-circle" height="50" width="50" />
                <h5 class="stat-info">Office 365</h5>
            </div>
        </a>
    </div>

</div>
