@{
    Layout = null;

}


<div style="padding-top: 5px; color: #000000" class="text-center">
    <p> @Html.ActionLink("Listar Computadores", "Index", "Computadores", new { @class = "text" })</p>

</div>






