@{
    Layout = null;
    
}
<div style="padding-top: 2%; padding-left: 12%;" class="text-justify">
    <p> @Html.ActionLink("Listar Usuários", "Index", "Users")</p>
    <p> @Html.ActionLink("Listar Computadores", "Index", "Computadores")</p>
    <p> @Html.ActionLink("Listar Grupos", "Index", "Grupos")</p>
</div>





