@{ 
    Layout = null;
}
<div style="padding-top: 5px;" class="text-center">
    <p> Total de Funcionários: <b>@ViewBag.qtd</b></p>
    <p> Funcionários de Férias: <b>@ViewBag.ferias</b></p>
</div>




