@model IEnumerable<SISSDV1.Models.Unidade>
@{
    Layout = null;    
}

<div style="padding-top: 2%; padding-left: 12%;" class="text-justify">
    <p> Total de Unidades: <b>@ViewBag.unidades</b></p>
    <p>@Html.ActionLink("Unidades", "Index", "Unidades")</p>
    <p>@Html.ActionLink("Firewalls", "Index", "Firewalls")</p>
</div>





