@{
    Layout = null;

}
<div style="padding-top: 2%; padding-left: 12%;" class="text-justify">
    <p> Total de Operadoras: <b>@ViewBag.operadoras</b></p>
    <p> Total de Links: <b>@ViewBag.links</b></p>
    <p> Total de Links de Telefonia: <b>@ViewBag.linkstel</b></p>
</div>






