@{
    Layout = null;
}
<div class="modal-dialog modal-content card" style="width: 300px; height:250px;">
    <div class="card-header" data-background-color="green">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
        </button>
        Erro
    </div>
    <div class="modal-body card-body">
        <h5>Algo deu Errado, Favor tentar novamente em alguns minutos. Se o erro persistir, entrar em contato com o suporte técnico.</h5>
        <div class="row">
            <div class="">
                <div class="pull-right" style="margin-top: 2%;">
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div><!-- /.modal-dialog -->

